Step-Function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize Image Data",
  "States": {
    "Serialize Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:755538885054:function:serializeImageData:$LATEST"
      },
      "Next": "Classification",
      "OutputPath": "$.Payload"
    },
    "Classification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:755538885054:function:classification:$LATEST"
      },
      "Next": "Filter Low Confidence Inferences",
      "InputPath": "$.body"
    },
    "Filter Low Confidence Inferences": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:755538885054:function:filter-low-confidence-inferences:$LATEST"
      },
      "End": true,
      "InputPath": "$.body"
    }
  }
}